<style>
   .message-content {
      max-width: 600px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
   }
</style>

<div class="message-content">
   <p>Clique no link abaixo e responda o formulário:</p>
   <p><a href="{{link}}" target="_blank">Cadastrar</a></p>
   <br />
   <strong>
      {{from}}<br>
      <i>Formspy</i>
   </strong>
</div>